.contact {
  width: 94%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  #map {
      width: 40%;
      height: 100%;
  }
  .form_container {
      img {
          height: 10%;
      }
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8%;
    .input-fields {

      width: 80%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      input,
      textarea {
        background-color: #121525;
        border-radius: 20px;
        border: none;
        height: 50px;
        font-family: "Poppins", sans-serif;
        padding-left: 20px;
      }
      button {
        color: Black;
      }
    }
  }
}
