.desc {
  width: 94%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .desc_container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .desc_grid {
      width: 100%;
      height: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      * {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .desc_left {
        height: 100%;
        width: 30%;
        img {
          width: 30%;
        }
      }
      .desc_right {
        height: 100%;
        width: 30%;
        img {
          width: 30%;
        }
      }
      .desc_middle {
        height: 100%;
        width: 15%;
        position: relative;
        img {
          width: 70%;
          animation: circleRotation linear 3s infinite;
        }
        .middle_steps {
          position: absolute;
          text-transform: uppercase;
          z-index: 1;
        }
        .middle_bck_circle{
          width: 70px;
          height: 70px;
          border-radius: 50%;
          position: absolute;
        }
      }
      .desc_cont {
        width: 80%;
      }
    }
  }
}

@keyframes circleRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 900px) {

  .desc {
    width: 100%;
    .desc_container {
      width: 100%;
      .desc_grid {
        flex-direction: column;
        justify-content: space-evenly;
        height: auto;
        * {
        }
        .desc_left {
          width: 100%;
          img {
            display: none;
          }
        }
        .desc_right {
          width: 100%;
          img {
            display: none;
          }
        }
        .desc_middle {
          width: 100%;
          display: none;
        }
        .desc_cont {
          margin-top: 50px;
          h1 {
            color: #a5167e;
          }
        }
      }
    }
  }


}