.Last_project {
    width: 94%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    overflow: hidden;
    .section_title {
        position: absolute;
        top: 0;
        width: 80%;
        height: 20%;
    }
    .Last_project_item {
        width: 20%;
        position: relative;
        z-index: 1;
        img {
            width: 100%;
        }
        .hidded_text {
            width: 100%;
            height: 100px;
            background-color: aquamarine;
            position: absolute;
            transform: translate3d(0, 0%, 0);
            transition: transform .3s ease, opacity 1s ease;
            bottom: 0;
            z-index: -1;
            opacity: 0;
        }
        &:hover {
            cursor: pointer;
            .hidded_text {
            transform: translate3d(0, 100%, 0);
            z-index: 1;
            opacity: 1;
            }
        }
    }
    .Last_project_name {
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (max-width: 900px) {

    .Last_project {
        flex-direction: column;
        text-align: center;
        .section_title {
        }
        .Last_project_item {
            width: 40%;
            img {
            }
            .hidded_text {
            }
            &:hover {
                .hidded_text {
                }
            }
        }
        .Last_project_name {
            height: auto;
        }
    }
  
}