.services {
    width: 100%;
  display: flex;
  flex-direction: column;
  .services_banner {
    width: 94%;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    .services_banner_img {
        height: 80%;
        width: 60%;
        background: url(../assets/Img/Services.webp);
        background-size: cover;
        position: absolute;
        left: 30%;
        .gameboy {
            height: 100%;
            width: 50%;
            position: absolute;
            right: 0;
        }
    }
    .services_banner_article {
        height: 50%;
        width: 40%;
        background-color: blue;
        position: absolute;
        left: 15%;
    }
  }
}