.App {
    width: 100%;
    position: relative;
}

.para_title {
    
  }

.page_title {
font-size: 4vw;
}

.secondary_title {
    text-align: left;
    font-size: 2vw;
    color: #a5167e;
}

.nav_link {
    font-size: 3vw;
    font-weight: 800;
    color: "#F2F2F2";
    text-decoration: none;
}


.button_border {
    width: 150px;
    height: 50px;
    font-weight: 700;
    background: transparent;
    border-radius: 10px;
    border: 2px solid #a5167e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #a5167e;
}
.button_plain {
    width: 150px;
    height: 50px;
    font-weight: 700;
    background: #a5167e;
    border: 2px solid #121525;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #121525;
    
}

.section_title {
    position: absolute;
    top: 0;
    width: 90%;
    height: 10%;
    border-bottom: 2px solid #121525;
}
.short_title {
    color: #a5167e;;
}


@media only screen and (max-width: 900px) {

    .secondary_title {
        text-align: left;
        font-size: 2.5vh;
        color: #a5167e;
    }
    .nav_link {
        font-size: 4vh;
        font-weight: 800;
        color: "#F2F2F2";
        text-decoration: none;
    }
}